@model NSPecor.Models.MUB_USUARIOS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MUB_USUARIOS</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_USUARIO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_USUARIO)
                @Html.ValidationMessageFor(model => model.ID_USUARIO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE)
                @Html.ValidationMessageFor(model => model.NOMBRE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CARGO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO)
                @Html.ValidationMessageFor(model => model.CARGO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIRECCION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIRECCION)
                @Html.ValidationMessageFor(model => model.DIRECCION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TELEFONO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TELEFONO)
                @Html.ValidationMessageFor(model => model.TELEFONO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CELULAR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CELULAR)
                @Html.ValidationMessageFor(model => model.CELULAR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EXTENSION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EXTENSION)
                @Html.ValidationMessageFor(model => model.EXTENSION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAX)
                @Html.ValidationMessageFor(model => model.FAX)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL)
                @Html.ValidationMessageFor(model => model.EMAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTADO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ESTADO)
                @Html.ValidationMessageFor(model => model.ESTADO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PWDHASH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PWDHASH)
                @Html.ValidationMessageFor(model => model.PWDHASH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_ORGANIZACION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_ORGANIZACION)
                @Html.ValidationMessageFor(model => model.ID_ORGANIZACION)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
