@model IEnumerable<NSPecor.Models.MUB_TIPO_ORGANIZACION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipos de Organizaciones</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_TIPO_ORG)
        </th>
        <th>
            ACTIVO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_TIPO_ORG)
        </td>
        <td>
    @if (item.ACTIVO != null) { 
                if (item.ACTIVO.Trim() == "S")
                {
                    @(String.Format("SI"));
                }
                else
                {
                    @(String.Format("NO"));
                }
    }
    else
    {
        @(String.Format("NO"));
    }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_TIPO_ORGANIZACION }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_TIPO_ORGANIZACION }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID_TIPO_ORGANIZACION })
        </td>
    </tr>
}

</table>
