@model IEnumerable<NSPecor.Models.MUB_ORGANIZACIONES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Operador de Red</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPRESENTANTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIGLA)
        </th>
        <th>
            TIPO ORG
        </th>
        <th>
            ACTIVO
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAZON_SOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPRESENTANTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIGLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUB_TIPO_ORGANIZACION.NOM_TIPO_ORG)
        </td>
        <td>
            @if (item.ACTIVO == 1)
            {
                @(String.Format("SI"));
            }
            else
            {
                @(String.Format("NO"));
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_ORGANIZACION }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_ORGANIZACION }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID_ORGANIZACION })
        </td>
    </tr>
}

</table>
